<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User management page</title>
</head>
<body>
<div th:replace="fragment/header (users = 'active')"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        initUserPage();
    });
</script>

<div class="container">
    <h1>User management</h1>
    <form th:action="@{/user/create}" th:object="${userDTO}" method="POST">
        <div class="controls">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" class="form-control" placeholder="Please enter first name"
                               th:field="${userDTO.firstName}"/>
                        <div class="help-block with-errors" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" class="form-control" placeholder="Please enter last name"
                               th:field="${userDTO.lastName}"/>
                        <div class="help-block with-errors" th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{lastName}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" type="text" class="form-control" placeholder="Please enter email"
                               th:field="${userDTO.email}"/>
                        <div class="help-block with-errors" th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="login">Login *</label>
                        <input id="login" type="text" class="form-control" placeholder="Please enter form_login *"
                               required="required"
                               data-error="Valid login is required." th:field="${userDTO.login}"/>
                        <div class="help-block with-errors" th:if="${#fields.hasErrors('login')}"
                             th:errors="*{login}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input id="password" type="password" class="form-control" placeholder="Please enter password *"
                               required="required" onchange="validatePassword('password', 'passwordConfirm')"
                               data-error="Valid password is required." th:field="${userDTO.password}"/>
                        <div class="help-block with-errors" th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="passwordConfirm">Password (Confirm) *</label>
                        <input id="passwordConfirm" type="password" class="form-control"
                               placeholder="Please enter password confirm *" required="required"
                               onkeyup="validatePassword('password', 'passwordConfirm')"
                               data-error="Valid password confirm is required."/>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-success btn-send" value="Register"/>
                </div>
                <div class="col-md-12">
                    <p class="text-muted"><strong>*</strong> These fields are required.</p>
                </div>
            </div>
        </div>
    </form>

    <div class="col-md-6">
        <p id="errorRedirectMessage" class="alert alert-danger" th:if="${errorRedirectMessage}" th:text="${errorRedirectMessage}"></p>
        <p id="successRedirectMessage" class="alert alert-success" th:if="${successRedirectMessage}" th:text="${successRedirectMessage}"></p>
        <p id="errorJsMessage" class="alert alert-danger hid"></p>
        <p id="successJsMessage" class="alert alert-success hid"></p>
    </div>

    <table id="users" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Login</th>
            <th>Role</th>
            <th>Command</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>
